[submodule "themes/geeky"]
	path = themes/geeky
	url = https://github.com/gethugothemes/geeky-hugo.git
[submodule "themes/geeky-hugo"]
	path = themes/geeky-hugo
	url = https://github.com/gethugothemes/geeky-hugo.git
